Incomplete parsing of repetitions

I was trying to parse a OID string, as defined in RFC3061, but have what seems an incomplete parsing.

Given the module
```elixir
defmodule OidParser do
  @moduledoc """
  OID parser based on rfc3061 abnf
  """

  use AbnfParsec,
    parse: :oid,
    abnf: """
    oid             = number *( DOT number )
    number          = DIGIT / ( LEADDIGIT 1*DIGIT )
    LEADDIGIT       = %x31-39 ; 1-9
    DIGIT           = %x30 / LEADDIGIT ; 0-9
    DOT             = %x2E ; period
    """
end
```

Parsing single digit OIDs seems ok:
```elixir
iex(2)> OidParser.oid("1.9.0.3.4")                   
{:ok,
 [
   oid: [
     number: '1',
     dot: '.',
     number: '9',
     dot: '.',
     number: '0',
     dot: '.',
     number: '3',
     dot: '.',
     number: '4'
   ]
 ], "", %{}, {1, 0}, 9}
```

But parsing OIDs with multidigit members seems incomplete:
```elixir
iex(1)> OidParser.oid("1.9.0.23.2342.19200300.100.4")
{:ok,
 [
   oid: [
     number: '1',
     dot: '.',
     number: '9',
     dot: '.',
     number: '0',
     dot: '.',
     number: '2'
   ]
 ], "3.2342.19200300.100.4", %{}, {1, 0}, 7}
```

Basically it stops matching at the first repetition in the `number` definition.

I'm missing something maybe? I was trying to build up a parser for ldap string search filter definitions, but stopped here, and the OID example is the minimal one I was able to extract.


Additional notes:

seems that wrapping `choice` with `lookahead/2` does the trick, like:

```elixir
  defparsec(
    :number,
    tag(
      lookahead(
        choice([
          parsec(:core_digit),
          parsec(:leaddigit) |> times(parsec(:core_digit), min: 1)
        ])
      ),
      :number
    )
  )

  defparsec(:core_digit, tag(ascii_char([48..57]), :core_digit))
  defparsec(:leaddigit, tag(ascii_char([49..57]), :leaddigit))
```

What do you think?

(deleted my last comment, seems that `lookahead/2` is not helpful, I was looking to the wrong thing sorry)

There doesn't seem to be an easy way to solve this, with code.

It's quite unfortunate that the ABNF spec is ambiguous about the order of the alternatives.

https://stackoverflow.com/a/54951921/1125494
> Some RFCs clarify this explicitly, with for example IMAPv4's RFC3501 including specification of PEG-like behaviour in RFC 3501 section 9:
> > In the case of alternative or optional rules in which a later rule overlaps an earlier rule, the rule which is listed earlier MUST take priority. For example, "\Seen" when parsed as a flag is the \Seen flag name and not a flag-extension, even though "\Seen" can be parsed as a flag-extension. Some, but not all, instances of this rule are noted below.

> I don't know how common such disambiguation (hah) is, though. Many other RFCs I've looked at (I've been implementing an ABNF parser library in recent days) just leave it unspecified. Many RFC ABNF grammars are unambiguous (e.g. RFC8259 (JSON)); however, many are ambiguous (e.g. RFC5322 (Internet Messages)) and require fixups to work with an ambiguity-preserving parser :-(

There is no good way to determine which path matches the most content, unless we brute force iterate over all choices.

`NimbleParsec` doesn't really backtrack, it only does it when for example within a `choice`. I tried adding a parsec function that does this `parsec(:oid) |> eos()` and it simply fails.

Making the grammar more specific is the best thing I can think of. Or skip this rule generation and write your own, which is functionally equivalent.

Thanks for your feedback and explanation.

For my use case, I'll alter a bit the grammar since is trivial to do and I agree that's the best way.

Feel free to close this issue so :)

Cheers.