Issues parsing ipv4 and ipv6 addresses

Hello! I 100% expect that this is user error, but was wondering if you could take a look at a problem I'm having.

As I mentioned in a previous issue, I'm working on email parsing, and am trying to use RFC5954 to cover the part of the spec where emails can be send directly to IPv4 or IPv6 addresses. I don't think my application will ever actually need emails to be sent to IPs, but just want to cover the spec in my more general-purpose library.

I think that most of the problems are captured by these tests for abnf_parsec: https://github.com/princemaple/abnf_parsec/compare/main...sax:abnf_parsec:rfc5954

1. My understanding is that `HEXDIG` should cover case-insensitive matches (`FFFF` and `ffff`, etc).
2. Some addresses are parseable if swap out, say `dec-octet` with the same rules in reverse order.
3. IPv6 doesn't match addresses where `0000` is omitted.

``` ABNF
IPv6address =                            6( h16 ":" ) ls32
            /                       "::" 5( h16 ":" ) ls32
            / [               h16 ] "::" 4( h16 ":" ) ls32
            / [ *1( h16 ":" ) h16 ] "::" 3( h16 ":" ) ls32
            / [ *2( h16 ":" ) h16 ] "::" 2( h16 ":" ) ls32
            / [ *3( h16 ":" ) h16 ] "::"    h16 ":"   ls32
            / [ *4( h16 ":" ) h16 ] "::"              ls32
            / [ *5( h16 ":" ) h16 ] "::"              h16
            / [ *6( h16 ":" ) h16 ] "::"

ls32        = ( h16 ":" h16 ) / IPv4address
            ; least-significant 32 bits of address

h16         = 1*4HEXDIG
            ; 16 bits of address represented in hexadecimal

IPv4address = dec-octet "." dec-octet "." dec-octet "." dec-octet

dec-octet   = DIGIT                 ; 0-9
            / %x31-39 DIGIT         ; 10-99
            / "1" 2DIGIT            ; 100-199
            / "2" %x30-34 DIGIT     ; 200-249
            / "25" %x30-35          ; 250-255
```

I see an alternative grammar in the `dhall.abnf` fixture that seems to fix everything except for case-insensitive hexadecimal:

``` ABNF
IPv6address =                            6( h16 ":" ) ls32
            /                       "::" 5( h16 ":" ) ls32
            / [ h16               ] "::" 4( h16 ":" ) ls32
            / [ h16 *1( ":" h16 ) ] "::" 3( h16 ":" ) ls32
            / [ h16 *2( ":" h16 ) ] "::" 2( h16 ":" ) ls32
            / [ h16 *3( ":" h16 ) ] "::"    h16 ":"   ls32
            / [ h16 *4( ":" h16 ) ] "::"              ls32
            / [ h16 *5( ":" h16 ) ] "::"              h16
            / [ h16 *6( ":" h16 ) ] "::"

h16 = 1*4HEXDIG

ls32 = h16 ":" h16 / IPv4address

IPv4address = dec-octet "." dec-octet "." dec-octet "." dec-octet

; NOTE: Backtrack when parsing these alternatives
dec-octet = "25" %x30-35       ; 250-255
          / "2" %x30-34 DIGIT  ; 200-249
          / "1" 2DIGIT         ; 100-199
          / %x31-39 DIGIT      ; 10-99
          / DIGIT              ; 0-9
```

Based on the differences in `dec-octet`, my guess is that rules in abnf_parsec are greedy, ie `127` matches both `DIGIT` and `"1" 2DIGIT`, so in the first grammar halts at `DIGIT` but in the second grammar matches `"1" 2DIGIT` before getting to `DIGIT`.

I'm curious about case insensitivity, though. My understanding is that `HEXDIG` should be defined as `DIGIT / "A" / "B" / "C" / "D" / "E" / "F"`, and because of RFC7405 each of those alpha characters should be treated as case-insensitive unless explicitly declare with `%s"A"`.

If my theory about greediness is the case, is that the reason why the second grammar works with implicit sections of IPv6? Maybe the first grammar matches to greedily, in a way that then can't parse the rest of the address?

Ahhh that makes so much sense.

For case-insensitive hexadecimal do you think I should define my own rule, or do you think that's something that I should expect from `HEXDIG` in the core rules? My first attempt at the former also did not work for some reason, but I can play around more.

This is a bug ;) The core rule should've accepted case insensitive hex digits. https://datatracker.ietf.org/doc/html/rfc5234#appendix-B.1 but we only defined uppercase here https://github.com/princemaple/abnf_parsec/blob/main/lib/abnf_parsec/generator.ex#L14

Do you want to have some more fun and send a PR to fix this? hint, you can use ranges on `?A`.

Looks like you are in the states. I'm going to take care of this so you don't have to wait for Australia to wake up again.

Yes please! Will definitely be faster if you go for it, and I will still learn something 😀.

I'm also running into UTF8 parsing issues, but that I'll take a crack at.

Running into this?

https://github.com/princemaple/abnf_parsec/issues/76#issuecomment-2572971520

Changing that line doesn't fix my problem, but I'm not sure if it's an issue with my email grammar or in abnf_parsec. Now that I know about the backtracking issue, I'm going to start by looking for similar issues. 

I was referring to this https://github.com/princemaple/abnf_parsec/blob/v1.2.3/lib/abnf_parsec/generator.ex#L197-L203 being a known bug which I haven't spent the time to fix, and is utf-8 related. However, I'm not sure how likely it is the reason to cause your issue.

I tried switching that to utf8_char and it doesn't immediately solve my problem. But it might still be a compounding factor, so I'll keep it in mind in my investigation. 

I've pushed a fix. https://github.com/princemaple/abnf_parsec/commit/2c62b3a1eb764ac5a855ea8979bf462f422feb9c

Will make a release soon.

So I released v1.2.6

Now I don't have any other known bugs left other than not supporting `/=`. 😄

Awesome! Just verified that this fixes my IPv6 parsing. I'll comment here if I figure out what's going on with my UTF8 issue, or open a more-specific issue/PR if it turns out to be something upstream.

Thanks again!

Ok, my UTF8 issue is definitely my grammar.

The non-working rules that I've grabbed come from [rfc6532](https://datatracker.ietf.org/doc/html/rfc6532#section-3.1), which flattened out look like the following:

``` abnf
; from RFC 5322 + UTF8-non-ascii
atext = ALPHA / DIGIT /    ; Printable US-ASCII
        "!" / "#" /        ;  characters not including
        "$" / "%" /        ;  specials.  Used for atoms.
        "&" / "'" /
        "*" / "+" /
        "-" / "/" /
        "=" / "?" /
        "^" / "_" /
        "`" / "{" /
        "|" / "}" /
        "~" / UTF-non-ascii

; from RFC 3629
UTF8-non-ascii  =   UTF8-2 / UTF8-3 / UTF8-4

UTF8-2      = %xC2-DF UTF8-tail
UTF8-3      = %xE0 %xA0-BF UTF8-tail / %xE1-EC 2( UTF8-tail ) /
              %xED %x80-9F UTF8-tail / %xEE-EF 2( UTF8-tail )
UTF8-4      = %xF0 %x90-BF 2( UTF8-tail ) / %xF1-F3 3( UTF8-tail ) /
              %xF4 %x80-8F 2( UTF8-tail )
UTF8-tail   = %x80-BF
```

If I swap out all of the UTF8 rules with the `ucschar` rule linked from #76, ie RFC3987, then emails parse fine.

The whole point of my library is to validate emails, so I'd like to stay as close as possible to the RFCs... and I definitely need to exclude `@`.

Here's the full grammar: https://github.com/synchronal/ex_email/blob/main/priv/parser/rfc5321.abnf

Oh, I should say that the same grammar does seem to work in the [Erlang project](https://github.com/rbkmoney/email_validator/blob/master/src/email_validator_abnf.abnf) that I'm basing my code off of, which uses rebar3_abnf_compiler.

Hi, looks like this abnf is describing the encoded bytes it's expected to parse, whereas my lib current interprets it as the code points to parse. They obviously won't match.  I'll check the spec to see if I implemented it the wrong way or simply need to come up with a workaround. In another abnf someone else reported, the abnf described the code points. 🤷‍♂️

Yeah, I was afraid of that. I was considering trying to rewrite it my definitions to use the code points, I'm just stepping away for a bit after having looked at binary encodings all morning :)

Added a byte mode. You can see the usage in README and the result in [this test](https://github.com/princemaple/abnf_parsec/blob/c336280645eaec11de415f6c1c619157834e2c95/test/abnf_parsec/byte_mode_test.exs)

`mode: :byte` works perfectly for grammar. Thank you!